.rigthquarterLabelRule{
    margin:auto;
}
.quarterTimeLabelRule{
    margin:auto;
}
.startTimeLabel {
    content: "Start";    
    float: left;
    position: relative;
    top: -15px;
    left:5px;
}
.startTimeLabelRule {
    content: "Start";    
    float: left;
    position: relative;
    margin-top: 0px;
    margin:auto;
    margin-left: 0px;
}
.middleTimeLabelRule {
    content: "Start";  
    position: relative;
    margin:auto;
    margin-top: 0px;
}
.endTimeLabelRule{
    content:"End-Time";
    float:right;
    position:relative; 
    margin-top: 0px;
    margin:auto;
    margin-right: 0px;
}
.endTimeLabel{
    content:"End-Time";
    float:right;
    position:relative;
    top:-15px;
    right: 5px;
}

.time-bar{
    background-color:#FFFF00;
    height: 50px;
    top:15px;
    position: relative;
    width: 10%;
    border-right: 1px solid black;
}

.center-block {
    margin: auto;
    width: 15%;
}

.timebar-container{
    height: 70px;
}

/* Style for validation inputs */
.inputRequired {
  box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
  border-color:red !important;
}

/**
 * style input elements that have a required
 * attribute and a focus state
 */
.inputRequired:focus {
  border: 1px solid red;
  outline: none;
}

/**
 * style input elements that have a required
 * attribute and a hover state
 */
input:hover {
  opacity: 1;
}

